[project]
	description = Repository used to evaluate bamboo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sasanka70
	pushMerge = group user/sasanka70
[access "refs/for/refs/*"]
	read = group user/sasanka70
	push = group user/sasanka70
	label-Code-Review = -2..+2 group user/sasanka70
	label-Verified = -1..+1 group user/sasanka70
	rebase = group user/sasanka70
	removeReviewer = group user/sasanka70
	submit = group user/sasanka70
[access "refs/heads/*"]
	read = group user/sasanka70
	create = group user/sasanka70
	push = +force group user/sasanka70
	pushMerge = group user/sasanka70
[access "refs/tags/*"]
	push = +force group user/sasanka70
	pushTag = group user/sasanka70
	pushSignedTag = group user/sasanka70
